<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Update Task</h2>

    <form method="POST">
        <label for="task_name">Task Name:</label>
        <input type="text" id="task_name" name="task_name" value="{{ existing_task.task_name }}" required>
        <br>

        <label for="task_description">Task Description:</label>
        <textarea id="task_description" name="task_description" rows="4" cols="50">{{ existing_task.task_description }}</textarea>
        <br>

        <label for="due_date">Due Date:</label>
        <input type="date" id="due_date" name="due_date" value="{{ existing_task.due_date }}">
        <br>

        <label for="priority">Priority:</label>
        <select id="priority" name="priority">
            <option value="1" {% if existing_task.priority == '1' %} selected {% endif %}>1 - High</option>
            <option value="2" {% if existing_task.priority == '2' %} selected {% endif %}>2 - Medium</option>
            <option value="3" {% if existing_task.priority == '3' %} selected {% endif %}>3 - Low</option>
        </select>

        <br>
        <label for="status">Status:</label>
        <select id="status" name="status">
            <option value="to do" {% if existing_task.status == 'to do' %} selected {% endif %}>To Do</option>
            <option value="in progress" {% if existing_task.status == 'in progress' %} selected {% endif %}>In Progress</option>
            <option value="completed" {% if existing_task.status == 'completed' %} selected {% endif %}>Completed</option>
        </select>
        <br>

        <input type="submit" value="Update Task">
    </form>
</body>
</html>
