<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>Name: {{single_task.task_name}}</p>
    <p>Description: {{single_task.task_description}}</p>
    <p>Due date: {{single_task.due_date}}</p>
    <p>Priority: {{single_task.priority}}</p>
    <p>Status: {{single_task.status}}</p>
    <p>Create date: {{single_task.created_at}}</p>

    <button><a href="/overview"> Go back to overview </a> </button>
    <button><a href="/edit_task/{{single_task.task_id}}"> Edit task </a> </button>
    <button><a href="/delete_task/{{single_task.task_id}}"> Delete task </a> </button>
</body>
</html>
